.lego {display: flex; flex-wrap: wrap; width:1920px; height: 1080px;
   	background-image: url("../image/her4.jpg");
    background-repeat : no-repeat;
    background-position: 0;

}


.box.white {
    background-color: transparent;
}

.box.white .circle {
    background-color: transparent;  
}

.svg{
    position: absolute;
    top: 0px;
    left:0px;
}



.box {width:12px; height:12px; background-color: #fe3000; padding: 2.4px; }

.circle {width:7px; height:7px; background-color: #ff6d54; border-radius: 50%; }


.title1 {
	position: absolute;
	font-family: futura, bold;
	font-size : 60px;
	padding-left: 50px;
	padding-top: 20px;
}



.title2 {
	
	font-family: futura, bold;
	font-size : 30px;
	padding-left: 50px;
	padding-top: 20px;
}

